body {
  background-color: #6d9caf; 
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  width: 400px;
  max-width:90%;
  margin: 50px auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #1878a4; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background-color: #2196f3;
  color: white;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  align-items: center;          
  justify-content: space-between; 
  padding: 20px;
  margin: 6px 0;
  background-color: #f9f9f9;   
  border-radius: 6px;
}

.task-text {
  flex: 1;                      
  cursor: pointer;
  word-break: break-word;       
}

.task-item.completed .task-text {
  text-decoration: line-through;
  color: gray;
}

.remove-btn {
  background: rgb(188, 166, 166);
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 4px;
  flex-shrink: 0;       
  
}
.task-list {
  max-height: 300px;       
  overflow-y: auto;       
  padding: 0;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;

  scroll-behavior: smooth;
  background-color: #f9f9f9;
}


.task-list::-webkit-scrollbar {
  width: 8px;              
}

.task-list::-webkit-scrollbar-track {
  background: #e1e1e1;      
  border-radius: 10px;
}

.task-list::-webkit-scrollbar-thumb {
  background: #888;         
  border-radius: 10px;
}

.task-list::-webkit-scrollbar-thumb:hover {
  background: #555;        
}
